<ion-view id="page1">
    <ion-tabs class="tabs-positive tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Home" icon="ion-social-youtube" href="#/page1/home" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Category" icon="ion-ios-list" href="#/page1/category" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Korea" icon="ion-ios-settings-strong" href="#/page1/setting" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>